<div class="d-flex">

  <!--  Sidebar -->
  <div class="bg-dark border-end p-3" id="sidebar">

    <h3 class="text-light">
      Gifs-App
    </h3>

    <hr class="text-white">

    <div class="list-group">

      <a href="#"
         class="list-group-item list-group-item-action">
        Dashboard
      </a>

    </div>

  </div>
  <!--  End Sidebar -->

  <div class="container">

    <div class="row p-3">

      <div class="col">

        <h5>Buscar:</h5>

        <input type="text" class="form-control" placeholder="Buscar gifs...">

      </div>

    </div>

    <hr>

    <div class="row">

      <div class="col">
        Velaccumsan iriure facilis invenire sodales referrentur idque reprehendunt habitasse scripserit. Nonlibris
        quaeque. Sitquam felis menandri dolore. Vidererpopulo noluisse viris. Lacuslegimus quo eam.
        Consetetursociis ponderum elitr definiebas purus habemus vivendo equidem voluptaria lorem dico reprehendunt
        salutatus decore hinc amet alia. Crasdefinitiones auctor cetero malorum proin vel nibh. Minimcurabitur quem
        dis prompta repudiandae dolore ei euismod fames orci tortor vel interdum. Dicantpercipit postulant postulant
        torquent regione vero tota inceptos eum consetetur electram.
      </div>

    </div>

  </div>

</div>
